body {
    margin: 0;
    padding: 0;
    background: #0c0f13;
    overflow: hidden;
    font-family: Sulphur Point,sans-serif;
    color: #8b8b8b;
    font-size: .9rem;
}

a {
    color: #545454;
    text-decoration: none;
}

/*---------------------navbar---------------------*/

.animal-container {
    width: 50px;
    height: 30px;
    padding: 0;
    display: inline-block;
}

.animal {
    filter: invert(20%); 
    -webkit-filter:invert(20%);
}

#animal-icon-tiger {
    width: 100%;
    height: auto;
}

#animal-icon-elephant {
    width: 85%;
    height: auto;
}

#animal-icon-turtle {
    width: 90%;
    height: auto;
    transform: rotate(180deg);
}

#animal-icon-leopard {
    width: 95%;
    height: auto;
}

#animal-icon-bear {
    width: 90%;
    height: auto; 
}

#animal-icon-rhino {
    width: 100%;
    height: auto;
}

#animal-icon-gorilla {
    width: 80%;
    height: auto;
}

.animal-container:hover {
transform: scale(1.9);
}

.animal:hover {
   filter: invert(80%); 
   -webkit-filter:invert(80%); 
}

#nav {
    margin: 0;
    text-align: center;
}

.menu-item {
    height: 120px;
    text-align: center;
    padding: 0;
    margin-top: 20px;

}

.menu-item a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

/*---------------Title---------------*/

.title-container {
    text-align: center;
    height: 50px;
}
.main-title {
    text-align: center;
    width: 40%;
    height: auto;
    display: block;
}

/*-------------strapline-------------*/

.strap-line {
    width: 100%;
    text-align: center;
    display: block;
}