body {
    margin: 0;
    padding: 0;
    background: #0c0f13;
    font-family: Sulphur Point,sans-serif;
    color: #fff;
    font-size: .9rem;
}

a {
    color: #545454;
    text-decoration: none;
}

/*---------------------navbar---------------------*/

.animal-container {
    width: 50px;
    height: 30px;
    padding: 0;
    display: inline-block;
}

.animal {
    filter: invert(20%); 
    -webkit-filter:invert(20%);
}

#animal-icon-tiger {
    width: 100%;
    height: auto;
}

#animal-icon-elephant {
    width: 85%;
    height: auto;
}

#animal-icon-turtle {
    width: 90%;
    height: auto;
    transform: rotate(180deg);
}

#animal-icon-leopard {
    width: 95%;
    height: auto;
}

#animal-icon-bear {
    width: 90%;
    height: auto; 
}

#animal-icon-rhino {
    width: 100%;
    height: auto;
}

#animal-icon-gorilla {
    width: 80%;
    height: auto;
}

.animal-container:hover {
transform: scale(1.9);
}

.animal:hover {
   filter: invert(100%); 
   -webkit-filter:invert(100%); 
}

.menu-item {
    height: 120px;
    text-align: center;
    padding: 0;
    margin-top: 20px;

}

.menu-item a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

@media (max-width: 767px) {                  
   .animal-bar {
      display: none;
   }
}

/*--------------Toggler--------------*/

.animal-list {
    list-style-type: none;
    padding: 0;
    font-size: 20px;
}

.ani-list {
    color: #0c0f13;
}

.dropper {
    background-color: #7AA9ED;
}

@media (min-width: 767px) {                  
   .toggler {
      display: none;
   }
}

/*-------------Title-------------*/

.title-container {
    width: 100%;
    height: auto;
    padding: 0;
}

@media (max-width: 767px) {                  
   .main-title {
    width: 70%;
    height: auto;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: block;
   }
}

@media (min-width: 767px) {                  
   .main-title {
    width: 50%;
    height: auto;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: block;
   }
}

/*-------------strapline-------------*/

@media (min-width: 767px) {                  
   .strap-line {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: #7AA9ED;
    padding: 0;
   }
}

@media (max-width: 767px) {                  
   .strap-line {
    width: 65%;
    font-size: 50vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: #7AA9ED;
    padding: 0;
   }
}

.slogan {
    font-size: 5vw;
}

/*-------------hero-image-------------*/

.hero-image-container {
    width: 100%;
}

.hero-image {
    width: 70%;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: block;
}

@media (min-width: 767px) {                  
   .hero-image {
    width: 50%;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: block;
   }
}

@media (max-width: 767px) {                  
   .hero-image {
    width: 60%;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: block;
   }
}

/*-------------about-page-------------*/

.about {
    margin-top: 100px;
}

.about-head-container {
    background-color: #7AA9ED;
    margin-bottom: 3vh;
    width: 100%;
}

.about-head {
    font-size: 5vw;
    color: #0c0f13;
    margin-left: 2vw;
}

.about-img-container {
    display: inline;
}

.about-img {
    width: 100%;
    margin-left: 10px;
}

.about-p-container {
    display: inline-block;
    background-color: #7AA9ED;
}

.small-intro {
    background-color: #7AA9ED;
}

.small-intro-head-container {
    width: 100%;
    padding-top: 50px;
}

.about-small-head {
    font-size: 15vw;
    text-align: center;
    color: #0c0f13;
}

.small-about-p-container {
    padding-bottom: 0;
}

.small-about-p-container p {
    text-align: center;
    font-size: 5vw;
    margin: 0 5vw 0;
    color: #0c0f13;
}

#more {display: none;}

.read-more-btn-container {
    width: 100%;
    text-align: center;
    font-size: 5vw;
    padding: 25px 0 50px;
}

.read-more-btn {
    text-align: center;
    color: #7AA9ED;
    background-color: #0c0f13;
    font-weight: bold;
    border: none;
}

@media (min-width: 900px) {                  
   .about-p-container p {
    text-align: left;
    padding-right: 1vw;
    margin-left: 1vw;
    margin-top: 0.5vw;
    width: 100%;
    height: 100%;
    color: #0c0f13;
    font-size: 1.8vw;
   }
}

@media (max-width: 900px) {                  
   .about-p {
    display: none;
   }
}

@media (max-width: 900px) {                  
   .about-img-container {
    display: none;
   }
}

@media (max-width: 900px) {                  
   .about-head {
    display: none;
   }
}

@media (min-width: 900px) {                  
   .small-intro {
    display: none;
   }
}

/*-------------Read-more-button---------*/

.scroll-box {
    height: 400px; 
    overflow-y: scroll;
}
 .down-arrow {
     color: #7AA9ED;
     text-align: center;
     font-size: 30px;
 }
 .scroll-arrow {
     width: 100%;
     text-align: center;
     padding-right: 1vw;
 }



 /*-------------Right-animals-------------*/

.right-animal-page {
    margin-top: 100px;
}

.right-animal-titles-container {
    width: 100%;
    text-align: right;
    float: right;
}

.right-animal-head-container {
    background-color: #FF9A1B;
    height: 12vh;
}

.right-animal-head {
    font-size: 5vw;
    color: #0c0f13;
    margin-right: 3.3vw;
}

.right-animal-sub-head {
    font-size: 2.5vw;
    margin-right: 3.3vw;
    margin-top: 0.5vw;
    color: #FF9A1B;
    font-style: italic;
}

.tiger-img-container {
    display: inline;
}

.tiger-img {
    width: 100%;
    padding-right: 2vw;
}

.right-animal-p-container {
    display: inline-block;
    font-size: 1.8vw;
    margin-left: 2vw;
}

.small-right-animal {
    background-color: #0c0f13;
}

.tiger-animal-img-container {
    width: 100%;
    padding: 0;
    margin: 0;
}

.tiger-animal-img {
    width: 100%;
    padding: 0;
}

.small-right-animal-head-container {
    width: 100%;
    padding-top: 5px;
}

.right-animal-small-head {
    font-size: 15vw;
    text-align: center;
    color: #FF9A1B;
}

.small-right-animal-sub-head {
    font-size: 7vw;
    font-style: italic;
    text-align: center;
    background-color: #FF9A1B;
    color: #0c0f13;
}

.small-right-animal-p-container p {
    text-align: center;
    font-size: 5vw;
    margin: 0 5vw 0;
    color: #FF9A1B;
}

@media (min-width: 900px) {                  
   .right-animal-p-container {
    text-align: left;
    margin: 0 4vw 0;
    width: 95%;
    background-color: #FF9A1B;
    color: #0c0f13;
    font-size: 1.9vw 1.9vh;
   }
}                

@media (min-width: 900px) {                  
   .right-animal-p-container p {
    text-align: left;
    margin-left: 1vw;
    width: 90%;
    color: #0c0f13;;
    font-size: 1.9vw 1.9vh;
   }
}  

@media (max-width: 900px) {                  
   .right-animal-titles-container {
    display: none;
   }
}    

.right-animal-p-container h4 {
    color: #0c0f13;
    margin-left: 1vw;
    margin-top: 1vw;
    margin-bottom: 0;
   }

.right-animal-p-container ul {
    color: #0c0f13;
    margin-left: 1vw;
    margin-top: 0;
   }

.right-animal-p-container a {
    color: #FFf;
   }

.animal-down-arrow {
     color: #FF9A1B;
     text-align: center;
     font-size: 30px;
 }
 .animal-scroll-arrow {
     width: 100%;
     text-align: center;
     padding-left: 4vw;
 }

@media (max-width: 900px) {                  
   .right-animal-p {
    display: none;
   }
}

@media (max-width: 900px) {                  
   .tiger-img {
    display: none;
   }
}

@media (max-width: 900px) {                  
   .right-animal-head {
    display: none;
   }
}

@media (max-width: 900px) {                  
   .right-animal-sub-head {
    display: none;
   }
}

@media (min-width: 900px) {                  
   .small-right-animal {
    display: none;
   }
}

/*-------------Read-more-button---------*/

.tiger-scroll-box {
    height: 400px; 
    overflow-y: scroll;
}
 .tiger-down-arrow {
     color: #FF9A1B;
     text-align: center;
     font-size: 30px;
 }
 .tiger-scroll-arrow {
     width: 100%;
     text-align: center;
     padding-right: 1vw;
 }

 .tiger-read-more-btn-container {
    width: 100%;
    text-align: center;
    font-size: 5vw;
    padding: 25px 0 50px;
}

.tiger-read-more-btn {
    text-align: center;
    color: #0c0f13;
    background-color: #FF9A1B;
    font-weight: bold;
    border: none;
}

 /*-------------Left-animals-------------*/

.left-animal-page {
    margin-top: 100px;
}

.left-animal-titles-container {
    width: 100%;
    text-align: left;
    float: left;
}

.left-animal-head-container {
    height: 12vh;
}

.left-animal-head {
    font-size: 5vw;
    margin-left: 3.3vw;
}

.left-animal-sub-head {
    font-size: 2.5vw;
    margin-left: 3.3vw;
    margin-top: 0.5vw;
    font-style: italic;
}

.tiger-img-container {
    display: inline;
}

.tiger-img {
    width: 100%;
    padding-right: 2vw;
}

.left-animal-p-container {
    display: inline-block;
    font-size: 1.8vw;
    margin-right: 2vw;
}

.small-left-animal {
    background-color: #545454;
}

.small-left-animal-head-container {
    width: 100%;
    padding-top: 5px;
}

.left-animal-small-head {
    font-size: 15vw;
    text-align: center;
    color: #FFF;
}

.small-left-animal-sub-head {
    font-size: 7vw;
    font-style: italic;
    text-align: center;
    color: #0c0f13;
    background-color: #929093;
}

.small-left-animal-p-container p {
    text-align: center;
    font-size: 5vw;
    margin: 0 5vw 0;
    color: #FFF;
}

@media (min-width: 900px) {                  
   .left-animal-p-container {
    text-align: left;
    width: 95%;
    color: #0c0f13;
    background-color: #929093;
    font-size: 1.9vw 1.9vh;
   }
}                

@media (min-width: 900px) {                  
   .left-animal-p-container p {
    text-align: left;
    margin-left: 1vw;
    width: 90%;
    color: #0c0f13;
    font-size: 1.9vw 1.9vh;
   }
}  

@media (max-width: 900px) {                  
   .left-animal-titles-container {
    display: none;
   }
}   


.left-animal-p-container h4 {
    color: #0c0f13;
    margin-left: 1vw;
    margin-top: 1vw;
    margin-bottom: 0;
   }

.left-animal-p-container ul {
    color: #0c0f13;
    margin-left: 1vw;
    margin-top: 0;
   }

.left-animal-p-container a {
    color: #FFF;
   }

@media (max-width: 900px) {                  
   .left-animal-p {
    display: none;
   }
}

@media (max-width: 900px) {                  
   .elephant-img-container {
    display: none;
   }
}

@media (max-width: 900px) {                  
   .left-animal-head {
    display: none;
   }
}

@media (max-width: 900px) {                  
   .left-animal-sub-head {
    display: none;
   }
}

@media (min-width: 900px) {                  
   .small-left-animal {
    display: none;
   }
}

/*-----------------------Tiger----------------------------*/

.small-tiger-img-container {
    width: 100%;
}

.small-tiger-img {
    width: 100%;
}

/*-----------------------Elephant----------------------------*/

.elephant-img {
    width: 100%;
    padding-left: 2vw;
}

.small-elephant-img-container {
    width: 100%;
}

.small-elephant-img {
    width: 100%;
}

.ele-head-c {
    background-color: #929093;
    color: #0c0f13;
}

#ele-sub-head {
    color: #929093;
}

.left-animal-read-more-btn-container {
    width: 100%;
    text-align: center;
    font-size: 5vw;
    padding: 25px 0 50px;
}

.left-animal-read-more-btn {
    text-align: center;
    color: #0c0f13;
    background-color: #929093;
    font-weight: bold;
    border: none;
}

.ele-small-left-animal {
    background-color: #0c0f13;
}

@media (min-width: 900px) {                  
   .ele-small-left-animal {
    display: none;
   }
}

.ele-down-arrow {
     color: #929093;
     text-align: center;
     font-size: 30px;
 }
 .ele-scroll-arrow {
     width: 100%;
     text-align: center;
     padding-right: 4vw;
 }

/*-----------------------Turtle----------------------------*/

#turtle-head-container {
    background-color: #509B34;
}

#turtle-sub {
    color: #509B34;
}

#turtle-p-container {
    background-color: #509B34;
}

#turtle-arrow {
    color: #509B34;
}

#turtle-small-head {
    color: #509B34;
}

#turtle-small-sub {
    background-color: #509B34;
    color: #0c0f13;
}

#turtle-small-p {
    color: #509B34;
}

.turtle-read-more-btn {
    text-align: center;
    color: #0c0f13;
    background-color: #509B34;
    font-weight: bold;
    border: none;
}

/*-----------------------Leopard----------------------------*/

.leo-head-c {
    background-color: #EFCF14;
    color: #0c0f13;
}

#leo-sub-head {
    color: #EFCF14;
}

.leo-p-c {
    background-color: #EFCF14;
    color: #0c0f13;
}

#leo-arrow {
    color: #EFCF14;
}

#leo-small-head {
    color: #EFCF14;
}

#leo-small-sub {
    background-color: #EFCF14;
    color: #0c0f13;
}

.leo-read-more {
    background-color: #EFCF14;
    color: #0c0f13;
}

/*------------------------Polar-Bear----------------------------*/

#bear-head-container {
    background-color: #fff;
}

#bear-sub {
    color: #fff;
}

#bear-p-container {
    background-color: #fff;
}

#bear-arrow {
    color: #fff;
}

#bear-small-head {
    color: #fff;
}

#bear-small-sub {
    background-color: #fff;
    color: #0c0f13;
}

#bear-small-p {
    color: #fff;
}

.bear-read-more-btn {
    text-align: center;
    color: #0c0f13;
    background-color: #fff;
    font-weight: bold;
    border: none;
}