body {
    margin: 0;
    padding: 0;
    background: #0c0f13;
    font-family: Sulphur Point,sans-serif;
    color: #8b8b8b;
    font-size: .9rem;
}

a {
    color: #545454;
    text-decoration: none;
}

/*---------------------navbar---------------------*/

.animal-container {
    width: 50px;
    height: 30px;
    padding: 0;
    display: inline-block;
}

.animal {
    filter: invert(20%); 
    -webkit-filter:invert(20%);
}

#animal-icon-tiger {
    width: 100%;
    height: auto;
}

#animal-icon-elephant {
    width: 85%;
    height: auto;
}

#animal-icon-turtle {
    width: 90%;
    height: auto;
    transform: rotate(180deg);
}

#animal-icon-leopard {
    width: 95%;
    height: auto;
}

#animal-icon-bear {
    width: 90%;
    height: auto; 
}

#animal-icon-rhino {
    width: 100%;
    height: auto;
}

#animal-icon-gorilla {
    width: 80%;
    height: auto;
}

.animal-container:hover {
transform: scale(1.9);
}

.animal:hover {
   filter: invert(80%); 
   -webkit-filter:invert(80%); 
}

.menu-item {
    height: 120px;
    text-align: center;
    padding: 0;
    margin-top: 20px;

}

.menu-item a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

@media (max-width: 767px) {                  
   .animal-bar {
      display: none;
   }
}

/*--------------Toggler--------------*/

.animal-list {
    list-style-type: none;
    padding: 0;
    font-size: 20px;
}

.ani-list {
    color: #0c0f13;
}

.dropper {
    background-color: #FF9A1B;
}

@media (min-width: 767px) {                  
   .toggler {
      display: none;
   }
}

/*-------------Title-------------*/

.title-container {
    width: 100%;
    height: auto;
    padding: 0;
}

@media (max-width: 767px) {                  
   .main-title {
    width: 70%;
    height: auto;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: block;
   }
}

@media (min-width: 767px) {                  
   .main-title {
    width: 50%;
    height: auto;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: block;
   }
}

/*-------------strapline-------------*/

@media (min-width: 767px) {                  
   .strap-line {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: #8b8b8b;
    padding: 0;
   }
}

@media (max-width: 767px) {                  
   .strap-line {
    width: 65%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: #8b8b8b;
    padding: 0;
   }
}

.slogan {
    font-size: 3.5vw;
}

/*-------------hero-image-------------*/

.hero-image-container {
    width: 100%;
}

.hero-image {
    width: 70%;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: block;
}

@media (min-width: 767px) {                  
   .hero-image {
    width: 50%;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: block;
   }
}

@media (max-width: 767px) {                  
   .hero-image {
    width: 60%;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: block;
   }
}

/*-------------about-page-------------*/

.about-head-container {
    
}